<app-home></app-home>
<section id="experiences" class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-intro">
                    <h2>My Experiences</h2>
                    <div class="separator centered"></div>
                    <p class="para">My professional background and relevant skills. It highlights my accomplishments and
                        key responsibilities in previous roles, providing context for my qualifications and readiness
                        for the job. </p>
                </div>
            </div>
        </div>
        <!-- Start Timeline -->
        <div class="timeline-wrapper">
            <div class="timeline">
                <!-- Event ( 1 ) -->
                <div class="event row">
                    <div class="col-sm-3 col-xs-12 event-left el1">
                        <h4>June 2023</h4>
                        <i class="fa fa-suitcase fa-fw"></i>
                    </div>
                    <div class="col-sm-9 col-xs-12 event-right er1">
                        <div class="content-wrapper">
                            <h4>zVendo</h4>
                            <div class="separator"></div>
                            <p class="job-title">Front-end developer</p>
                            <ul class="para">
                                <li>
                                    Proficiency in HTML5, SASS, JavaScript (ES6+) , and TS .
                                </li>
                                <li>
                                    Using Angular+ Framework  
                                </li>
                                <li>
                                    Develop responsive design principles and mobile-first development.
                                </li>
                                <li>
                                    Knowledge of performance optimization techniques to create fast-loading web applications.
                                </li>
                                <li>
                                    Experience with version control systems like Git.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Event ( 2 ) -->
                <div class="event row">
                    <div class="col-sm-3 col-xs-12 event-left el2">
                        <h4>June 2021</h4>
                        <i class="fa fa-suitcase fa-fw"></i>
                    </div>
                    <div class="col-sm-9 col-xs-12 event-right er2">
                        <div class="content-wrapper">
                            <h4>American Academy</h4>
                            <div class="separator"></div>
                            <p class="job-title">Front-end developer</p>
                            <ul class="para">
                                <li>
                                    Develop and implement responsive and mobile-friendly websites
                                    and web applications
                                </li>
                                <li>
                                    Collaborate with designers and developers to create visually
                                    appealing and user-friendly websites
                                </li>
                                <li>
                                    Transformed native applications into mobile-friendly products.
                                </li>
                                <li>
                                    Utilize HTML, CSS, JavaScript, Angular+, TS and jQuery to create
                                    dynamic and interactive user interfaces
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Event ( 3 ) -->
                <div class="event row">
                    <div class="col-sm-3 col-xs-12 event-left el3">
                        <h4>Jan. 2021-</h4>
                        <i class="fa fa-certificate fa-fw"></i>
                    </div>
                    <div class="col-sm-9 col-xs-12 event-right last-event er3">
                        <div class="content-wrapper">
                            <h4>NTI Deploma</h4>
                            <div class="separator"></div>
                            <p class="job-title">Graphic Design Diploma.</p>
                            <ul class="para">
                                <li>
                                    Strong understanding of front-end web development technologies
                                    and tools, including:
                                    <ul class="para sub-para">
                                        <li>HTML, CSS, JavaScript, and jQuery</li>
                                        <li>Angular</li>
                                        <li>Responsive and mobile-friendly design principles</li>
                                    </ul>
                                </li>
                                <li>Understanding the basics of Node.js and Handling RestAPIs</li>
                                <li>Proficient in creating visually appealing and user-friendly websites</li>
                                <li>Strong problem-solving skills and attention to detail</li>
                                <li>Certification in Front-end Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Timeline -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-intro">
                    <h2>My Education</h2>
                    <div class="separator centered"></div>
                </div>
            </div>
        </div>
        <div class="timeline-wrapper">
            <div class="timeline">
                <div class="event graduation row">
                    <div class="col-sm-3 col-xs-12 event-left el4">
                        <h4>July 2020</h4>
                        <i class="fa fa-graduation-cap fa-fw"></i>
                    </div>
                    <div class="col-sm-9 col-xs-12 event-right last-event er4">
                        <div class="content-wrapper">
                            <h4>Graduation</h4>
                            <div class="separator"></div>
                            <p class="job-title">Faculty of Science</p>
                            <p class="para">Dramatically incentivize bleeding-edge core competencies via dynamic users.
                                Progressively provide access to best-of-breed markets whereas multidisciplinary
                                services. Quickly restore orthogonal expertise whereas highly efficient.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Timeline -->
    </div>


</section>