<app-home></app-home>

<section id="skills" class="section text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-intro">
          <h2>my powerful skills</h2>
          <div class="separator centered"></div>
          <p class="para">Continually transform process-centric systems rather than compelling growth strategies. Energistically streamline low-risk high-yield supply chains via scalable intellectual capital. Dramatically benchmark customer.</p>
        </div>
      </div>
    </div>
    <div class="row">
    <!-- Skill No. ( 1 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="90"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>HTML5</h3>
        <p class="para">Collaboratively reintermediate optimal growth strategies whereas cross.</p>
      </div>
      <!-- Skill No. ( 2 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="95"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>CSS3</h3>
        <p class="para">Objectively integrate viral manufactured products for bleeding-edge.</p>
      </div>
      <!-- Skill No. ( 3 ) -->
      <div class="skill col-md-4 col-sm-6">
         <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>JavaScript</h3>
        <p class="para">Completely actualize clicks-and-mortar systems for bleeding-edge data.</p>
      </div>
      <!-- Skill No. ( 4 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>Angular</h3>
        <p class="para">Monotonectally incubate front-end innovation with emerging methods.</p>
      </div>
      <!-- Skill No. ( 5 ) -->
      <div class="skill col-md-4 col-sm-6">
       <circle-progress
        [percent]="92"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>bootstrap</h3>
        <p class="para">Professionally facilitate process-centric customer service vis-a-vis premium.</p>
      </div>
      <!-- Skill No. ( 6 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3>Vue</h3>
        <p class="para">Seamlessly integrate backward-compatible information and plug-and-play.</p>
      </div>
    </div>
  </div>
</section>