<app-home></app-home>

<section id="skills" class="section text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-intro">
          <h2>my powerful skills</h2>
          <div class="separator centered"></div>
          <p class="para">Here, you'll find a comprehensive list of my abilities and expertise in the field of front-end development. From design to development and everything in between, I am confident in my ability to deliver high-quality work.</p>
        </div>
      </div>
    </div>
    <div class="row">
    <!-- Skill No. ( 1 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="90"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">HTML5</h3>
      </div>
      <!-- Skill No. ( 2 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="95"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">CSS3</h3>
      </div>
      <!-- Skill No. ( 3 ) -->
      <div class="skill col-md-4 col-sm-6">
         <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">JavaScript</h3>
      </div>
      <!-- Skill No. ( 4 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">Angular</h3>
      </div>
      <!-- Skill No. ( 5 ) -->
      <div class="skill col-md-4 col-sm-6">
       <circle-progress
        [percent]="92"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">bootstrap</h3>
      </div>
      <!-- Skill No. ( 6 ) -->
      <div class="skill col-md-4 col-sm-6">
        <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'transparent'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle] = "false"
        [showInnerStroke] = "false"
        [startFromZero] = "true"
        [titleColor] = "'#ffffff'"
        [unitsColor] = "'var(--main-color1)'"
        [titleFontSize]="'30'"
        [unitsFontSize]="'20'"
        [subtitleFontSize]="'10'"

      ></circle-progress>
        <h3 class="mb-5">Vue</h3>
      </div>
    </div>
  </div>
</section>
